
.container-about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.column-about {
    flex: 1;
    padding: 0 20px;
}

.column-about h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    padding-bottom: 20px;
    color: #333;
}

.info strong {
    font-weight: bold;
    color: #555;
}

.info {
    text-indent: 30px;
    line-height: 1.6;
    color: #777;
}

.school {
    margin-top: 20px;
    padding-left: 30px;
    border-left: 2px solid #646262;
}

.school h3 {
    font-size: 20px;
    color: #010202;
    margin-top: 0;
}

@media (max-width: 768px) {

    .info{
        text-indent: 0;
    }

    .column-about {
        text-align: start;
        margin-top: 10%;
        flex-direction: column;
        padding: 0;
    }

    .school {
      
        padding-left: 0;
        border-left: none;
    }
}