/* Reset some default styles */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header styles */
header {
    background: linear-gradient(135deg, #0077b6, #00b4d8);
    color: #fff;
    padding: 20px 0;
}

.section {
    padding: 40px 0;
    background: linear-gradient(90deg, #a0c4ff, #f0f0f0);
    min-height: 100vh; /* Minimum height of one viewport height */
}
/* Footer styles */
footer {
    background: linear-gradient(135deg, #0077b6, #00b4d8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


/* Header styles */
.fixed-header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative; /* Initial position */
    transition: background-color 0.3s, position 0.3s; /* Add transition for smooth effect */
    z-index: 1000; /* Ensure it appears above other content */
}

.fixed-header.fixed {
    position: fixed; /* Make it fixed when scrolling */
    top: 0; /* Stick to the top of the viewport */
    background-color: #333; /* Background color when fixed */
}
/* Footer styles */